*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand-logo {
  width: 200px;
}

header nav {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  font-size: 0.85em;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  border-bottom: 1.5px solid black;
}

.header-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  font-size: 2em;

  color: black;
}

.bars {
  font-size: 1.5em;
}
.navbar-button {
  border: none;
  background: white;
  cursor: pointer;
}

.navbar-section nav {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 1em;
  width: 100%;
}

.navbar-section nav a {
  text-decoration: none;
  color: white;
}

.navbar-section nav a:hover {
  border-bottom: 1.5px solid white;
}

main {
  width: 90%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 100px;
}


.hero-section {
  background-color: hsl(11, 73%, 66%);
  border-radius: 15px;
  width: 100%;
  height: 660px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  color: white;
}
.hero-texts h1 {
  font-size: 2.5em;
}

.hero-texts p {
  line-height: 28px;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.hero-button {
  padding: 1.5em 1.8em;
  font-size: 0.8em;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: hsl(11, 96%, 79%);
  color: white;
  transition: 0.5s;
}

.hero-section img {
  width: 300px;
  position: relative;
  bottom: -20%;
  background-color: #bd5139;
  box-shadow: 10px -10px 100px 10px hsl(11, 96%, 28%);
}

.skills-section {
  height: 700px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 48.7%);
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.skills-section a {
  text-decoration: none;
  color: white;
}
.skills-section a .image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.image-overlay {
  background: black;
  opacity: 0.6;
  height: 100.1%;
  width: 100%;
  position: relative;
  top: -114.3%;
  z-index: 0;
  border-radius: 20px;
}

.image-overlay-app {
  background: black;
  opacity: 0.6;
  height: 100.1%;
  width: 100%;
  position: relative;
  top: -130%;
  z-index: 0;
  border-radius: 20px;
}

.image-overlay-graphics {
  background: black;
  opacity: 0.6;
  height: 100.1%;
  width: 100%;
  position: relative;
  top: -130%;
  z-index: 0;
  border-radius: 20px;
}

.web-background-div {
  position: relative;
  top: -60%;
  text-align: center;
  z-index: 20;
  line-height: 50px;
  letter-spacing: 2.5px;
}

.web-background-div span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.web-background-div h1 {
  font-size: 2em;
}

.web-design {
  grid-row-start: 1;
  grid-row-end: 3;
}
.web-image-section {
  background-image: url("./assets/image-web-design-large.webp");
}

.app-image-section {
  background-image: url("./assets/image-app-design.webp");
}

.graphic-image-section {
  background-image: url("./assets/image-graphic-design.webp");
}

.image-overlay-app:hover {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.image-overlay-graphics:hover {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.image-overlay:hover {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.web-background-div:hover ~ .image-overlay {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.web-background-div:hover ~ .image-overlay-app {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.web-background-div:hover ~ .image-overlay-graphics {
  background-color: hsl(11, 73%, 66%);
  transition: 1.5s;
}

.attitudes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.illustration-div {
  height: 410px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.illustration-text {
  color: rgb(64, 64, 64);
  font-size: 0.9em;
  line-height: 25px;
  letter-spacing: 0.3px;
}

.illustration-p {
  font-size: 1.3em;
  letter-spacing: 3.3px;
}

.get-in-touch {
  background-color: hsl(11, 73%, 66%);
  width: 100%;
  height: 300px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin-bottom: -70px;
}

.git-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 490px;
}

.git-text h1 {
  font-size: 2.3em;
}

.git-text p {
  line-height: 28px;
}

footer {
  height: 400px;
  border: 1px solid black;
  background-color: rgb(23, 23, 23);
  overflow: hidden;
  z-index: -30;
}

.footer-div {
  width: 90%;
  height: 330px;
  display: flex;
  justify-self: center;
  margin-top: 70px;
  flex-direction: column;
}

.footer-nav a {
  color: white;
}

.footer-head {
  justify-content: space-between;
  height: 120px;
  border-bottom: 0.3px solid grey;
}

.footer-nav a:hover {
  border-bottom: 1px solid white;
}

.footer-header-wrapper {
  width: 100%;
}

.contact-address {
  color: grey;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  margin-top: 30px;
}

.social-media {
  display: flex;
  gap: 10px;
}
.social-media-icon {
  font-size: 1.5em;
}

.about-us, .contact-page {
  width: 100%;
  height: 480px;
  background-color: hsl(11, 73%, 66%);
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  border-radius: 15px;
}

.first-section-text h1, .contact-us h1 {
  font-size: 2.8em;
}

.first-section-text p, .contact-us p {
  line-height: 27px;
}

.first-section-text, .contact-us{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  left: 7%;
}

.image-wrapper {
  background: url("./assets/image-about-hero.webp");
  height: 100%;
  width: 43%;
  background-size: cover;
  background-repeat: no-repeat;
}

.world-class-talent {
  background-color: #fdf3f0;
  height: 640px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.wct-image-wrapper {
  height: 100%;
  width: 43%;
}

.wct-image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.w-c-t-text {
  width: 500px;
  display: flex;
  position: relative;
  right: 5%;
  flex-direction: column;
  gap: 30px;
}

.t-r-d-text{
  right: -5%;
}

.w-c-t-text h1 {
  color: hsl(11, 73%, 66%);
  font-size: 2.2em;
}

.w-c-t-text p {
  line-height: 27px;
}

.location-btn{
  background-color: hsl(11, 73%, 66%);
  color: #fdf3f0;
  font-size: 0.8em;
  letter-spacing: 1px;

}
.location-page-section{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.location-details{
  border-radius: 15px;
  background-color: #fdf3f0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-left: 5.5em;
}

.location-details h1{
  font-size: 2.15em;
  color: hsl(11, 73%, 66%);
}

.location-info{
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.location-info div{
  line-height: 25px;
}

.location-image-wrapper{
  object-fit: contain;
  border-radius: 15px;
  overflow: hidden;
}

.contact-form{
  height: 100%;
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-form div{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

input::placeholder{
  font-weight: 400;
  color: hsl(11, 92%, 85%);
}
input{
  outline: none;
}
.name-input, .email-input, .tel-input, .message-input{
  width: 90%;
  font-size: 1em;
  overflow-wrap: break-word;
  background: hsl(11, 73%, 66%);
  border: none;
  border-bottom: 1px solid white;
  color: aliceblue;
  padding:2em 1em 0.5em 1em ;
}

.message-input{
  padding:2em 1em 2em 1em ;
}

.web-page{
  width: 100%;
  height: 220px;
  background-color: hsl(11, 73%, 66%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.web-page h1{
  font-size: 2.3em;
}
.web-page p{
  text-align: center;
  width: 400px;
  font-size: 0.95em;
  line-height: 26px;
}

.web-design-lists{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  justify-content: center;
  width: 100%;
}

.web-design-list-section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.web-item{
  height: 440px;
  border-radius: 15px;
  overflow: hidden;
  color: aliceblue;
  width: 359px;
  background-color: hsl(11, 73%, 66%);
}

.first-p{
  font-size: 1.4em;
  letter-spacing: 2px;
}

.web-item:hover{
  background-color: hsl(11, 96%, 28%);
  color: white; 
  transition: 0.5s;
}

.web-item-image{
  width: 100%;
  height: 70%;
}



.second-p{
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.project-details{
  text-align: center;
  width: 80%;
  justify-self: center;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.other-skills{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}

.w-s-c{
margin-bottom: -350px;
}

@media (max-width: 1188px) {
  .about-us, .location-page-section {
    flex-direction: column-reverse;
    width: 690px;
    height: 720px;
  }

  .contact-page{
    flex-direction: column;
  }

  .image-wrapper, .contact-form {
    width: 100%;
    height: 50%;
  }

  .first-section-text {
    height: 50%;
    width: 100%;
    gap: 20px;
    left: 0%;
    text-align: center;
    padding: 0em 2em;
    justify-content: center;
    font-size: 0.85em;
  }

  .contact-us{
    text-align: left;
  }

  .world-class-talent {
    flex-direction: column-reverse;
    width: 690px;
    height: 750px;
  }

  .wct-image-wrapper {
    height: 35%;
    width: 100%;
  }

  .w-c-t-text{
    padding: 0em 2em;
    font-size: 0.9em;
    gap:20px;
    height: 75%;
    justify-content: center;
    width: 100%;
    text-align: center;
    top: 0%;
    right: 0%;
  }

  .the-real-deal{
    flex-direction: column;
  }

  .location-details{
    height: 50%;
    width: 100%;
    margin-top: 20px;
  }

  .location-image-wrapper{
    width: 100%;
    object-fit: cover;
    height: 50%;
  }

  .location-image-wrapper img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1150px) {
  .hero-texts {
    margin-top: 10%;
    font-size: 0.9em;
    padding: 0;
    text-align: center;
    z-index: 1;
  }

  .hero-section {
    border-radius: 0;
    height: 870px;
    width: 100%;
    justify-content: center;
    gap: 70px;
    border-radius: 15px;
  }

  .hero-section img {
    top: 0%;
    z-index: 0;
  }
}

@media (max-width: 866px){
  .location-p{
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .brand-logo {
    width: 150px;
  }

  main {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .hero-texts {
    top: 10%;
    font-size: 0.75em;
    padding: 0;
    text-align: center;
  }

  .hero-texts p {
    font-size: 1.15em;
    padding: 0em 1em;
  }

  .hero-section {
    border-radius: 0;
    height: 800px;
    width: 100%;
    justify-content: center;
  }

  .skills-section {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 30px;
    padding: 0em 2em;
  }

  .web-design {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .image-overlay {
    top: -133.4%;
  }

  .image-overlay-app {
    top: -133.4%;
  }

  .image-overlay-graphics {
    top: -133.4%;
  }

  .attitudes {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 250px;
    place-items: center;
  }

  .illustration-div {
    width: 80%;
  }

  .get-in-touch {
    width: 90%;
    flex-direction: column;
    align-items: center;
    padding: 2.8em 0em;
    margin-top: -80px;
    height: 350px;
  }

  .git-text {
    text-align: center;
    width: 90%;
    gap: 17px;
  }

  footer {
    font-size: 0.9em;
  }

  .footer-head {
    margin-top: 20px;
    border: none;
  }
  .footer-header-wrapper {
    width: 100%;
    gap: 10px;
    flex-direction: column;
  }

  .contact-address {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .about-us, .world-class-talent {
    width: 100%;
    border-radius: 0px;
  }

  .world-class-talent{
    margin-top: -100px;
  }

  .w-c-t-text{
    max-width: 90%;
  }

  .location-p{
    margin-top: -30px;
  }
  .location-div{
    margin-top: -100px;
  }

  .location-section{
    margin-top: 0px;
  }

  .location-page-section{
    width: 100%;
  }

  .location-details, .location-image-wrapper{
    border-radius: 0px;
  }

  .location-details{
    margin-top: 0px;
  }

  .location-info{
    width: 80%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .web-page{
    border-radius: 0px;
  }

  .web-page p{
    width: 80%;
  }

  .w-s-c{
  margin-bottom:  0px;
}
}

@media (max-width: 450px) {
  .get-in-touch {
    width: 100%;
  }
  .footer-header-wrapper {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .footer-nav {
    flex-direction: column;
    gap: 20px;
  }

  footer {
    height: 500px;
  }

  .footer-div {
    height: 430px;
  }

  .contact-address {
    margin-top: 70px;
  }

  .first-section-text h1, .w-c-t-text h1 {
    font-size: 1.9em;
  }

  .first-section-text p, .w-c-t-text p {
    font-size: 0.95em;
  }
/* 
  .world-class-talent{
    height: 1000px;
  } */
}

@media (max-width: 394px) {
  .image-overlay-graphics {
    top: -133.4%;
  }

  .web-background-div h1 {
    font-size: 1.7em;
  }

  .git-text h1 {
    font-size: 1.8em;
  }

  .git-text p {
    font-size: 0.9em;
  }
}

@media (max-width: 360px) {
  .graphic-text {
    padding: 0em 0.5em;
  }

  .web-background-div h1 {
    font-size: 1.4em;
  }

  .web-background-div span {
    font-size: 0.8em;
  }

  .web-item{
    width: 300px;
  }
}
